<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Wypozyczalnia</display-name>
  <servlet>
    <servlet-name>ListOfCarServlet</servlet-name>
    <servlet-class>car_rent.rent.ListOfCarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CarSpecServlet</servlet-name>
    <servlet-class>car_rent.rent.CarSpecServlet</servlet-class>>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOfCarServlet</servlet-name>
    <url-pattern>/listOfCar</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CarSpecServlet</servlet-name>
    <url-pattern>/carSpec</url-pattern>
  </servlet-mapping>
</web-app>